
/* Classes Formatação DIV */
.c1 {/*
	border: 1px solid black; 
	background-color: gray; 
	*/
	margin-top: 10px;	
}

.c2 {
	background-color: white;
	border: 10px double rgba(117, 190, 218, 0.75);
	margin-bottom: 10px;
}

.largura-cheia{
    width:100%;
    max-width: 700px;
}

#container{	
	width:800px;
	margin: 50px auto;
}

.progresso{border: 1px solid black;}

.m-link{
	opacity: 0.5;
	transition: opacity 1s;
}

.m-link:hover{
	/* 
	box-shadow: 2px 2px 2px rgba(51,59,158,0.5);
	border-radius: 2px;
	*/
	background-color: white;
	opacity: 1;
	transition: opacity 1s;
}

.corpo {
	margin-top: 40px;
}


/* Classes Formatação IMG*/
.foto-index{
	max-width: 180px;
}

.f-link{
	max-width: 180px;
	height: 120px
}

.d-link{
	margin: 5px;
	border: 1px solid rgba(117, 190, 218, 0.75)
}


.borda-f-1{
	border-left: 1px solid rgba(117, 190, 218, 0.75)
}


.DivClass
	{
		border:2px solid #a1a1a1;
		padding:10px 40px;
		background:rgba(0,0,0,0.03);
		width:900px;
		border-radius:15px;
		-moz-border-radius:15px; /* Firefox 3.6 and earlier */
		-moz-box-shadow: 10px 10px 5px #888888; /* Firefox 3.6 and earlier */
	 	box-shadow: 10px 10px 5px #888888;
	 	margin: 25px auto;
		}

h2 { text-shadow: 5px 5px 5px #00000F; }

.titulo{
	background-color: lightgray;
	text-align: center;
}

.text-center{text-align: center;}

.bg-blue{
	background-color: rgba(50,50,255,0.05);
}

.color-red{color: red;}

.CodClass 
	{
		border:2px solid #a1a1a1;
		color: white;
		background-color: black;
		width: 600px;
		border-radius:5px;
		-moz-border-radius:5px; /* Firefox 3.6 and earlier */
		margin: 25px auto;
		padding:10px 40px;
	}

.CodHtml
	{
		border:2px solid #a1a1a1;
		color: green;
		background-color: white;
		width: 600px;
		border-radius:5px;
		-moz-border-radius:5px; /* Firefox 3.6 and earlier */
		margin: 25px auto;
		padding:10px 40px;
	}


.Exemplo{
		border:2px solid #a1a1a1;
		color: red;
		background-color: white;
		width: 700px;
		border-radius:5px;
		-moz-border-radius:5px; /* Firefox 3.6 and earlier */
		margin: 25px auto;
		padding:10px 40px;
}

.imgClass{
	max-width: 800px;
}