{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="author" content="Jonathas Henrique Miante" />
        <title>SCC - Controle de Campanhas</title>
        <link rel="icon" type="image/x-icon" href="{% static 'img/ico.ico' %}" />
               
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        
        <!--Personal CSS-->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />        
        <link href="{% static 'css/text.css' %}" rel="stylesheet" />

        <!--Flaticon -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons@2.2.0/css/all/all.min.css" />
    </head>
    <body class="d-flex flex-column h-100 container-fluid">
        
        <nav class="navbar navbar-expand-lg bg-white sticky-top">
            <div class="container-fluid">
              <a class="navbar-brand text-bold text-gradient" href="/">SCC</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'campanha_filial' tipo='ativa' %}">Em Andamento</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'campanha_filial' tipo='apuracao' %}">Em Apuração</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'campanha_filial' tipo='finalizada' %}">Finalizadas</a>
                  </li>

                </ul>
                <div class="d-flex" role="search">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          {{request.user.get_full_name}} 
                        </a>
                        <ul class="dropdown-menu">
                            {% if request.user.is_superuser %}
                            <li><a class="dropdown-item" href="/admin">Área Administrativa</a></li>                            
                            <li><hr class="dropdown-divider"></li>
                            {% endif %}

                            <li><a class="dropdown-item" href="{% url 'update_password' %}">Alterar Senha</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                        </ul>
                      </li>
                    </ul>
                    <ul>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ul>
                </div>
              </div>
            </div>
          </nav>


        <main class="container-fluid mt-4">
        {% include 'partials/error.html' %}
        
        {% block content %} {% endblock %}
        </main>


        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        
        <!-- Personal JS-->
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
