
/* BACKGROUND */
.bg-client{
  background-color: rgb(34, 73, 94);
}



/* TEXT COLOR */
.text-client{
  color: rgb(34, 73, 94);
}


/* TAMANHOS */
.mw-50 { min-width: 50px; } .mw-100 { min-width: 150px; } .mw-150 { min-width: 150px; } .mw-200 { min-width: 200px; } .mw-250 { min-width: 250px; } .mw-350 { min-width: 300px; } .mw-none { min-width: none; }

.mx-50 { max-width: 50px; } .mx-100 { max-width: 100px; } .mx-150 { max-width: 150px; } .mx-200 { max-width: 200px; } .mx-250 { max-width: 250px; } .mx-300 { max-width: 300px; } .mx-500 { max-width: 500px; } .mx-750 { max-width: 750px; } .mx-none { max-width: none; }

.mxh-100 { max-height: 100px;} .mxh-500 { max-height: 500px;}

.mh-250{ height: 250px;}

.bg-gradient {
    background: #080808;    
    background: linear-gradient(135deg, #080808 0%, #cac8c8 100%);
}

.bg-gradient-primary-to-secondary {
    background: #1e30f3;
    background: linear-gradient(135deg, #080808 0%, #cac8c8 100%);
}



a {
    text-decoration: none;
}


.table-responsive {
  overflow-x: scroll;
  overflow-y: scroll;
}

.table-responsive-x {overflow-x: scroll;} .table-responsive-y {overflow-x: scroll;}

.mxh-table { height: 300px;} .mxh-table-500 { max-height: 500px;} .mxh-table-800 { max-height: 800px;}

.mxh-table-fix { height: 300px;} .mxh-table-fix-500 { height: 500px;} .mxh-table-fix-800 { height: 800px;}

.cursor-point{
  cursor: pointer;
}
